@import 'variables.scss';



html[data-bs-theme=''],
html[lang=''] {
  display: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 0 1px 1px rgba(0 0 0 / 0.4);
}

div#root {
  margin: 0px;
  padding: 0px;
}

div.vr {
  opacity: 0.1;
}

.offcanvas-backdrop.show {
  // opacity: 1;
  // background-color: rgba(15, 23, 42, 0.5);
  // transition: 1s;
  // overflow-y: scroll !important;
  backdrop-filter: blur(4px) !important;
}

svg.app-icon-btn:hover {
  opacity: 1 !important;
  filter: drop-shadow($app-btn-hover-glow);
  cursor: pointer;
}

svg.app-icon-btn:active {
  opacity: 0.8 !important;
}

.btn,
.list-group-item {
  svg {
    margin: -3px 0 0 0;
  }
}

.navbar-toggler {
  cursor: pointer;
  min-height: 47px;
  min-width: 60px;

  svg {
    // margin: 0px !important;
    width: 28px;
    height: 28px;
  }
}

.btn:hover,
.navbar-toggler:hover {
  // transition: 0.5;
  backdrop-filter: brightness(1.4);
  border-color: $app-btn-active-border-color;
  text-shadow: $app-btn-hover-glow;

  svg {
    filter: drop-shadow($app-btn-hover-glow);
  }

  svg.app-rotate {
    animation: rotation 2s linear infinite;
  }
}

.navbar-brand {
  align-items: center;
  text-shadow: 0 1px 1px rgba(0 0 0 / 0.4);
}

.navbar-brand:hover,
.list-group-item:hover,
.accordion-button:hover {
  text-shadow: $app-btn-hover-glow, 0 1px 1px rgba(0 0 0 / 0.4);
}

.btn:active,
.navbar-toggler:active {
  border-color: $app-btn-active-border-color;
  text-shadow: $app-btn-active-glow, 0 1px 1px rgba(0 0 0 / 0.4);
  backdrop-filter: brightness(0.9);

  svg {
    filter: drop-shadow($app-btn-active-glow);
  }

  svg.app-rotate {
    animation: rotation 1s linear infinite;
  }
}

.navbar-brand:active {
  text-shadow: $app-btn-active-glow;

  svg {
    filter: drop-shadow($app-btn-active-glow);
  }
}

// .list-group-item {
//   border-left: 10px solid rgba(255 0 0 / 0.4) !important;
// }
// .list-group-item:hover {
//   border-left: 10px solid rgba(255 60 60 / 0.4) !important;
// }

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.accordion-button {
  font-weight: bold;
}

.btn,
.accordion-button,
.list-group-item {
  svg {
    opacity: 0.6;
  }

  // svg+span {
  //   margin-left: 20px;
  // }

  svg+span {
    margin-left: 4px;
  }

  span {
    // border-left: 1px solid rgba(0 0 0 / 0.1) !important;
    // padding: 0 3px 0 3px;
    // margin: 0 3px 0 3px;
  }
}

a.btn {
  svg {
    opacity: 0.4;
  }

  svg+span {
    // margin-left: 3px;
  }
}

// Distance between icons and span labels


.accordion-button:hover,
.list-group-item:hover {
  svg {
    filter: drop-shadow($app-btn-active-glow);
  }
}



// Removed from Bootstrap 5!-
.text-justify {
  text-align: justify;
}

// .navbar-nav {
//   -webkit-flex-direction: row;
//   -ms-flex-direction: row;
//   flex-direction: row;
// }


.app-main-navbar,
.offcanvas-header {
  min-height: 57px;
  height: 57px;
  max-height: 57px;
}

.app-main-subnavbar {
  // top: 56px !important;
  // min-height: 57px;
  // z-index: 1;
  // opacity: 0.4;
  // background: rgba(var(--bs-tertiary-bg-rgb) / 0.999) !important;
  background: rgba(var(--bs-body-bg-rgb) / 0.9999) !important;
  backdrop-filter: blur(8px) !important;
  // padding-left: 60px;
  transition: 0.15s;

  div.container-fluid {
    background: rgba(var(--bs-body-bg-rgb), 0.7) !important;
  }

  div.container-fluid:first-child {
    height: 57px;
    max-height: 57px;
    min-height: 57px;
  }

}

.app-main-subnavbar:hover {
  transition: 0.15s;
  background: var(--bs-body-bg) !important;
  // background: var(--bs-tertiary-bg) !important;
  // background: var(--bs-secondary-bg) !important;
}

div.app-show-on-scroll {
  transition: 0.5s;
}

div.app-shadow-divider {
  width: 96%;
  border-radius: 50px;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}

img.app-profile {
  border: 2px solid white;
}

button.app-go-top {
  transition: 0.5s;
  opacity: 0.5;
  width: 80px;
  height: 80px;
  bottom: 50px;
  right: 50px;
  position: fixed;
  visibility: hidden;
}

button.app-go-top.show {
  visibility: visible;
}

button.app-go-top:hover {
  opacity: 1;
}

button.app-go-top:active {
  opacity: 0.8;
}

// button.app-go-top:disabled {
//   visibility: hidden;
// }