@import 'variables-bootstrap.scss';

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  border-top: calc(56px + 56px) solid var(--bs-body-bg);
  overflow-y: scroll;
}

html[data-bs-theme=''],
html[lang=''] {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 0 1px 1px rgba(0 0 0 / 0.4);
  // Pass navbar position when clicking anchor
  scroll-margin-top: 150px;
}

h1 {
  svg {
    position: absolute;
    margin-top: -40px;
    left: 16px;
    width: 120px;
    height: 120px;
    opacity: 0.04;

    filter: drop-shadow(0 0 4px rgba(var(--bs-emphasis-color-rgb), 1));
  }
}

div#root {
  margin: 0px;
  padding: 0px;
  // padding-bottom: 120px;
}

footer {
  // margin-bottom: 60px;
  // padding-top: 60px;
}