$border-radius: 1px;
$dropdown-item-padding-y: 0.6rem;

$navbar-toggler-padding-y: 0px;
$navbar-toggler-margin-y: 0px;
$navbar-brand-padding-y: 0px;

// $navbar-toggler-padding-y: 0rem;
// $navbar-toggler-padding-x: 0rem;
$navbar-padding-y: 3px;

$navbar-brand-margin-y: 0px;

// $enable-rounded: false;
$navbar-nav-link-padding-x: 0.5rem;
$navbar-brand-margin-end: 1rem;

$offcanvas-padding-y: 3px;
$offcanvas-horizontal-width: 400px;

$offcanvas-transition-duration: 0.3s;

$btn-focus-width: 2px;

$list-group-item-padding-y: 10px;

// :root {
//   --bs-tertiary-bg: blue !important;
// }
// $component-hover-bg: blue;
// $component-active-bg: red;

// $list-group-hover-bg: var(--bs-tertiary-bg);
// $list-group-active-color: $component-active-color;
// $list-group-active-bg: $component-active-bg;

:root {
  --app-light-border-color: slateblue;
  --app-dark-border-color: white;
}

$btn-border-width: 2px;

$app-btn-active-border-color: rgba(0 0 0 / 0.1) !important;

$app-btn-hover-glow: 0 0 2px white;
$app-btn-active-glow: 0 0 1px white;

// $modal-backdrop-bg: rgba(15, 23, 42, 0.5);
$modal-backdrop-bg: rgba(0 0 0 / 0.4);
$modal-backdrop-opacity: 1;

$accordion-icon-color: rgba(0 0 0 / 0.4) !important;
$accordion-icon-active-color: rgba(0 0 0 / 0.4) !important;

$accordion-icon-color: black !important;
$accordion-body-padding-y: 10px;

$accordion-button-active-bg: var(--bs-accordion-bg);
// $accordion-button-active-color: var(--bs-body-color);
$accordion-button-active-color: var(--bs-emphasis-color);
