$app-btn-active-border-color: rgba(0 0 0 / 0.1) !important;

$app-btn-hover-glow: 0 0 2px white;
$app-btn-active-glow: 0 0 1px white;

$app-navbar-height: 56.8px;
$app-navbar-toggler-width: 50px;
$app-navbar-toggler-height: 40px;

$app-navbar-crystal-opacity: 0.8;
$app-subnavbar-crystal-opacity: 0.6;

$app-icon-opacity: 0.4;
$app-icon-opacity-hover: 0.8;
$app-icon-opacity-active: 0.6;
$app-icon-opacity-disabled: 0.2;